*{
    padding: 0;
    margin: 0;
}
a, a:active, a:visited{
    text-decoration: none;
    color: #475467;
}
body{
    background-color: #ffffff;
    padding-top: 2%;
}
nav{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f2f4f7;
    border: 1px solid #D0D5DD;
    border-radius: 100px;
    display: flex;
    padding: 1% 2%;
    justify-content: space-between;
}
.nav-left{
    width: 10%;
    height: 29px;
}
.nav-left img{
    width: 100%;
    height: 100%;
}
.nav-middle{
    display: flex;
    justify-content: space-between;
    width: 35%;
}

.n-t-a{
    display: flex;
    align-items: center;
}
.nav-text{
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.55rem;
    letter-spacing: 0em;
    text-align: left;
    color: #667085;
    padding-right: 3%;
    cursor: pointer;
}

.nav-right{
    width:21.6%;
    display: flex;
    justify-content: space-between;
}
.nav-btn-1, .nav-btn-2{
    width: 45%;
    border: 1px solid #98A2B3;
    background-color: #FFFFFF;
    font-family: Inter;
    font-size: .9rem;
    font-weight: 600;
    line-height: 1.55rem;
    letter-spacing: 0em;
    text-align: center;
    padding: 2%;
    border-radius: 25px;
}
.nav-btn-2{
    width: 52%;
    background-color: #175CD3;
    /* box-shadow: 1 1 1 #1018280D; */
    color: #FFFFFF;
}
.hero{
    display: grid;
    place-items: center;
    background: url('./img/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.hero-inner{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: 10% 0;
}
.hero-pic-row{
    display: flex;
    justify-content: space-between;
    padding: 2% 3%;
}
.unit{
    font-family: Inter;
    font-size: 4rem;
    font-weight: 600;
    line-height: 4.5rem;
    padding-bottom: 3%;
    letter-spacing: -0.02em;
    text-align: left;
    color: #1D2939;
}
.exp{
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #667085;
    padding-bottom: 5%;
}
.hero-left{
    width:55%
}
.hero-right{
    width: 41%;
    border: 1px solid #B2DDFF;
    background-color: #eff8ff;
    border-radius: 10px;
    box-shadow: 0px 32px 64px -12px #10182824;
}
.svgrow{
    display: flex;
    justify-content: space-between;
    width: 41%;
    padding-top: 7%;
}
.sugri{
    display: flex;
    justify-content: space-between;
}
.s-start{
    height: 20px;
    width: 20px;
}
.stars{
    padding: 5% 0;
}
.fp{
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: right;
    padding-left: 3%;
    color: #344054;
}
.rev-num{
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #475467;
}
.avg-rap{
    width: 47%;
    height: 40px;
}
.avg-rap img, .s-start img{
    width: 100%;
    height: 100%;
}
.hero-pics-wrap{
    width: 30%;
    height: 150px;
}
.hero-pics-wrap img{
    width: 100%;
    height: 100%;
}
.small-icons{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-left: auto;
    padding: 3% 0;
    margin-right: auto;
}
.small-icon-wrap{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #D1E9FF;
    display: grid;
    place-items: center;
}
.small-icon-wrap img{
    width: 50%;
    border-radius: 50%;
    background-color: #FFFFFF;
    height: 50%;
}
.dis-row{
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.strbtn{
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.75rem;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    background-color: #175CD3;
    padding: 1rem 1.75rem;
    border-radius: 100px;
    border: none;

}
.disai{
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #175CD3;
    align-self: center;
    width: 45%;
}
.disai{
    display: flex;
    justify-content: space-between;
}
.bbf{
    width: 20px;
}
.join-row{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.jemp{
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.875rem;
    letter-spacing: 0em;
    text-align: center;
    color: #475467;
    padding: 2% 0;
}
.sponsors-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: auto;
    padding: 2% 0;
    margin-right: auto;
}
.ychoose{
    padding: 8%;
}
.ycr{
    width: 50%;
    height: 500px;
}
.ycr img{
    width: 100%;
    height: 100%;
}
.sname{
    height: 30px;
}
.tca{
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    padding-bottom: 1%;
    text-align: left;
    color: #175CD3;
}
.ibere{
    font-family: Inter;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -0.02em;
    text-align: left;
    padding: 1% 0;
    color: #1D2939;
}
.iawo{
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #667085;
    padding: 0 0 10% 0;
}
.yclr{
    display: flex;
    justify-content: space-between;
}
.ycl{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.piccsrow, .shopify, .arrws{
    display: flex;
}
.arrws{
    width: 25%;
    justify-content: space-between;
}
.ccv{
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    padding-bottom: 2%;
    letter-spacing: 0em;
    text-align: left;
    color: #101828;
}
.ccv2{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #475467;
}
.shop-text{
    font-family: Inter;
    font-size: 44px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #101828;
}
.shopify{
    background-color: #F9FAFB;
    justify-content: space-around;
    padding: 5%;
}
.sthompsonrow{
    display: flex;
    justify-content: space-between;
    padding: 10% 0;
}
.thomp-pic{
    width:10%;
}
.thomp-pic img{
    width: 100%;
}
.thom-deatils{
    width: 65%;
    padding-left: 2%;
    text-align: left;
}
.nm{
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #101828;
}
.pman{
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #475467;
}
.supportrow{
    display: flex;
    padding: 5%;
    padding-right: 10%;
}
.sup{
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #175CD3;
}
.faq{
    font-family: Inter;
    padding: 2% 0;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #1D2939;
}
.evn{
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #667085;
}
.supportleft, .supportright{
    width: 50%;
}
.part{
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #101828;
}
.part2{
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #475467;
}
.part3{
    display: none;
}
.suprow{
    display: flex;
    justify-content: space-between;
    background-color: #f9fafb;
    border: 1px solid #EAECF0;
    border-radius: 1rem;
    padding: 3%;
}
.suprow2{
    display: flex;
    justify-content: space-between;
    padding: 3%;
    border-bottom: 1px solid #f4f5f7;
}
.leff{
    width: 90%;
}
.col-ic{
    width: 24px;
    height: 26px;
}
.tck-row{
    display: flex;
    padding-top: 1%;
    padding-left: 2%;
    width: 50%;
    padding-bottom: 2%;
}
.thirty{
    padding-left: 3%;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #475467;
}

.r2c{
    font-family: Inter;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -0.02em;
    text-align: left;
    padding-bottom: 2%;
    color: #101828;
}
.tickbtns{
    width: 50%;
    justify-content: space-between;
    padding-top: 2%;
}
.sales{
    background-color: #FFFFFF;
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    padding: 2%;
    text-align: center;
    color: #101828;
    border: 1px solid #98A2B3;
    border-radius: 25px;
    width: 40%;
}
.freetrial{
    background-color: #175CD3;
    border: none;
    color: #FFFFFF;
    font-family: Inter;
    padding: 2%;
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    border-radius: 25px;
    width: 55%;
}
.readyrow{
    display: flex;
    padding: 5% 0 5% 5%;
}
.readyright, .readyleft{
    width: 50%;
}
.readyleft{
    padding-top: 4%;
}
.readyright img{
    width: 100%;
    height: 100%;
}
.footer-top{
    display: flex;
    justify-content: space-between;
    padding: 5%;
}
.effort{
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #475467;
}
.foot-p{
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    padding-bottom: 5%;
    letter-spacing: 0em;
    text-align: left;
    color: #475467;
}
.foot-o{
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    padding-bottom: 5%;
    text-align: left;
    color: #475467;
}
.c1{
    width: 30%;
}
.app{
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #004EEB;
}
.store-wrap{
    width:135px;
    height: 40px;
    padding: 5% 0;
}
.store-wrap img{
    width: 100%;
    height: 100%;
}
.footer-bottom, .icns{
    display: flex;
    justify-content: space-between;
}
.footer-bottom{
    background-color: #f9fafb;
    padding: 5%;
}
.fbotleft{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #667085;
}
.icns{
    width: 20%;
}
.icn-w{
    width: 24px;
    height: 24px;
}
.icn-w img{
    width:100%;
    height: 100%;
}
.ycboxiwrap{
    border-radius: 50%;
    background-color: #f9fafb;
    border: 1px solid #EAECF0;
    width: 20px;
    height: 20px;
    padding: 5%;
    justify-content: center;
    margin-bottom: 3%;
}
/* .shpwrap{

    height: 15px;
}
.shpwrap img{
    height: 100%;
} */

.shopright{
    width: 50%;
    height: 90%;
    padding: 2%;
}
.shopright img{
    width: 90%;
    height: 90%;
}
.fimg-wrap{
    padding-bottom: 5%;
}